body{
    margin:0px;
    font-family: 'Times New Roman', Times, serif;
    background-color:grey;
    

    
}
.header{
    background-color:white;
    height: 80px;
    

}
.header h2{
    font-size: xx-large;
    text-align: center;
    font-style: normal;
    padding: 15px;
   
}
.div1{
    font-size:xx-large ;
    
    background-color:grey;
    height: 400px;
    width: 25%;
    float: left;
}
.div1 header{
   
    padding: 10px;
    text-align: center;
     
}
.div1 .list{
    background-color:white;
    height:250px;
    font-size: x-large;
    padding: 20px;  
   width:82%
   }


.div2{
   
    float: left;
   width:50%;
    height: 400px;
    
 }
 .div2 .back{
     background-color:white;

 }
 .div2 .data{
    background-color:white;
    color: black;
    font-size: large;
    height:250px

 }
table th{
    background-color:  bisque;}

.div3{
    
   float: right; 
   width: 23%;
   height:400px;
}
.back:hover{
  background-color:bisque ;
}
.div3 img:hover{
    filter: blur(2px);
}
.data:hover{
   
    padding-left: 20px;   
}

ul li:hover{
    padding-left: 30px;
    
}
table{
    height:300px;
    width:50%;
   

}

.details{
   
   float: left;
    text-align: left;
    width: 100%;
    height:650px;
    background-color: white;
    
    

}
.blank{
    height:30px;
    width: 100%;
    background-color:grey;
}
.icons{
    height:100px;
    width: 100%;
    background-color:white;
    float:right;

}
.icons #x{
    float:right;
}

.icons #y{
    float:right;
}
.icons #z{
    float:right;
}
.icons #a{
    float:right;
}
.icons #b{
    float:right;
}
.icons div{
    float:right;
    
}

